* {
    padding: 0;
    margin: 0;
/*    background-color: #F6F6F6*/
}

.gradient {
    position: absolute;
    z-index: 1;
}

.das-img {
    width: 100%;
    position: relative; 
    z-index: 0; 
}

.box {
    position: relative; 
    z-index: 100; 
    
/*    top: 40%;*/
}

.box-data {
    margin: 0 16px;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(50px);
    height: 200px;
    border-radius:10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.2);
    overflow: hidden;
}


.top-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 16px;
    padding-top: 24px;
    align-items:center;
}

.detail h3{
    font-size: 32px;
    font-weight:400;
}

.transaction{
    padding: 0 16px;
    margin-top:12px;
}

.transaction .num {
    letter-spacing:6px;
    font-weight:600;
}

.deposit{
    display:flex;
    padding: 0 16px;
    gap:4px;
    align-items: center;
    margin-top:12px;
}

.deposit img{
    width:24px;
}

.deposit p{
    font-size: 14px;
}

.feature{
    padding: 16px;
}
.card-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 16px; 
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
    padding: 18px;
    gap: 8px;
    width: 220px;
    margin-top: 12px;
    text-decoration: none; 
    color: inherit; 
    background-color: #f9f9f9; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    transition: transform 0.2s ease-in-out; 

}

.card p {
    font-size: 14px;
    font-weight: 500;
    text-align: center;
}
