/* /Components/Layout/MainLayout.razor.rz.scp.css */
.page[b-efk0h901l1] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-efk0h901l1] {
    flex: 1;
}

.sidebar[b-efk0h901l1] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-efk0h901l1] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-efk0h901l1]  a, .top-row[b-efk0h901l1]  .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

        .top-row[b-efk0h901l1]  a:hover, .top-row[b-efk0h901l1]  .btn-link:hover {
            text-decoration: underline;
        }

        .top-row[b-efk0h901l1]  a:first-child {
            overflow: hidden;
            text-overflow: ellipsis;
        }

@media (max-width: 640.98px) {
    .top-row[b-efk0h901l1] {
        justify-content: space-between;
    }

        .top-row[b-efk0h901l1]  a, .top-row[b-efk0h901l1]  .btn-link {
            margin-left: 0;
        }
}

@media (min-width: 641px) {
    .page[b-efk0h901l1] {
        flex-direction: row;
    }

    .sidebar[b-efk0h901l1] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-efk0h901l1] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

        .top-row.auth[b-efk0h901l1]  a:first-child {
            flex: 1;
            text-align: right;
            width: 0;
        }

    .top-row[b-efk0h901l1], article[b-efk0h901l1] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
/* /Components/Layout/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-ukfzy2r44x] {
    appearance: none;
    cursor: pointer;
    width: 3.5rem;
    height: 2.5rem;
    color: white;
    position: absolute;
    top: 0.5rem;
    right: 1rem;
    border: 1px solid rgba(255, 255, 255, 0.1);
    background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") no-repeat center/1.75rem rgba(255, 255, 255, 0.1);
}

    .navbar-toggler:checked[b-ukfzy2r44x] {
        background-color: rgba(255, 255, 255, 0.5);
    }

.top-row[b-ukfzy2r44x] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-ukfzy2r44x] {
    font-size: 1.1rem;
}

.bi[b-ukfzy2r44x] {
    display: inline-block;
    position: relative;
    width: 1.25rem;
    height: 1.25rem;
    margin-right: 0.75rem;
    top: -1px;
    background-size: cover;
}

.bi-house-door-fill-nav-menu[b-ukfzy2r44x] {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-house-door-fill' viewBox='0 0 16 16'%3E%3Cpath d='M6.5 14.5v-3.505c0-.245.25-.495.5-.495h2c.25 0 .5.25.5.5v3.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5Z'/%3E%3C/svg%3E");
}

.bi-plus-square-fill-nav-menu[b-ukfzy2r44x] {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-plus-square-fill' viewBox='0 0 16 16'%3E%3Cpath d='M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm6.5 4.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3a.5.5 0 0 1 1 0z'/%3E%3C/svg%3E");
}

.bi-list-nested-nav-menu[b-ukfzy2r44x] {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-list-nested' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M4.5 11.5A.5.5 0 0 1 5 11h10a.5.5 0 0 1 0 1H5a.5.5 0 0 1-.5-.5zm-2-4A.5.5 0 0 1 3 7h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm-2-4A.5.5 0 0 1 1 3h10a.5.5 0 0 1 0 1H1a.5.5 0 0 1-.5-.5z'/%3E%3C/svg%3E");
}

.nav-item[b-ukfzy2r44x] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-ukfzy2r44x] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-ukfzy2r44x] {
        padding-bottom: 1rem;
    }

    .nav-item[b-ukfzy2r44x]  a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

        .nav-item[b-ukfzy2r44x]  a.active {
            background-color: rgba(255,255,255,0.37);
            color: white;
        }

        .nav-item[b-ukfzy2r44x]  a:hover {
            background-color: rgba(255,255,255,0.1);
            color: white;
        }

.nav-scrollable[b-ukfzy2r44x] {
    display: none;
}

.navbar-toggler:checked ~ .nav-scrollable[b-ukfzy2r44x] {
    display: block;
}

@media (min-width: 641px) {
    .navbar-toggler[b-ukfzy2r44x] {
        display: none;
    }

    .nav-scrollable[b-ukfzy2r44x] {
        /* Never collapse the sidebar for wide screens */
        display: block;
        /* Allow sidebar to scroll for tall menus */
        height: calc(100vh - 3.5rem);
        overflow-y: auto;
    }
}
/* /Components/Pages/Dashboard.razor.rz.scp.css */
*[b-7dugatzo2o] {
    padding: 0;
    margin: 0;
/*    background-color: #F6F6F6*/
}

.gradient[b-7dugatzo2o] {
    position: absolute;
    z-index: 1;
}

.das-img[b-7dugatzo2o] {
    width: 100%;
    position: relative; 
    z-index: 0; 
}

.box[b-7dugatzo2o] {
    position: relative; 
    z-index: 100; 
    
/*    top: 40%;*/
}

.box-data[b-7dugatzo2o] {
    margin: 0 16px;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(50px);
    height: 200px;
    border-radius:10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.2);
    overflow: hidden;
}


.top-row[b-7dugatzo2o] {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 16px;
    padding-top: 24px;
    align-items:center;
}

.detail h3[b-7dugatzo2o]{
    font-size: 32px;
    font-weight:400;
}

.transaction[b-7dugatzo2o]{
    padding: 0 16px;
    margin-top:12px;
}

.transaction .num[b-7dugatzo2o] {
    letter-spacing:6px;
    font-weight:600;
}

.deposit[b-7dugatzo2o]{
    display:flex;
    padding: 0 16px;
    gap:4px;
    align-items: center;
    margin-top:12px;
}

.deposit img[b-7dugatzo2o]{
    width:24px;
}

.deposit p[b-7dugatzo2o]{
    font-size: 14px;
}

.feature[b-7dugatzo2o]{
    padding: 16px;
}
.card-row[b-7dugatzo2o] {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 16px; 
}

.card[b-7dugatzo2o] {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
    padding: 18px;
    gap: 8px;
    width: 220px;
    margin-top: 12px;
    text-decoration: none; 
    color: inherit; 
    background-color: #f9f9f9; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    transition: transform 0.2s ease-in-out; 

}

.card p[b-7dugatzo2o] {
    font-size: 14px;
    font-weight: 500;
    text-align: center;
}

.record[b-7dugatzo2o]{
    padding: 12px 16px;
}

.card-blog[b-7dugatzo2o]{
    display:flex;
/*    flex-wrap:wrap;*/
    flex-direction: column;

    gap:12px;
}
.cash-summary[b-7dugatzo2o]{
    padding: 0 16px;
    display:flex;
    justify-content: space-between;
  
}

.debt-summary[b-7dugatzo2o]{
    display:flex;
    padding: 0 16px;
    justify-content: space-between;
  
}

.total-debts[b-7dugatzo2o] {
    margin: 12px 16px;
    padding:12px 16px;
    display:flex;
    gap:18px;
    flex-direction:column;
    background-color: #C4C4C4;
    border-radius:8px;
}

.cash[b-7dugatzo2o] {
    background-color: #C4C4C4;
    width: 180px;
    border-radius:8px;
}

.cash p[b-7dugatzo2o]{
    padding : 8px;
}

.high[b-7dugatzo2o]{
    padding:16px;
}

.pending[b-7dugatzo2o]{
    padding:16px; 
}
/* /Components/Pages/Login.razor.rz.scp.css */
*[b-nqghavpk8d] {
    padding: 0;
    margin: 0;
    background-color: white;
}
.hero[b-nqghavpk8d] {
}

.main-img[b-nqghavpk8d] {
    width: 100%;
    position: relative; 
    z-index: 1;
}

.login[b-nqghavpk8d] {
    position: absolute; 
    top:25%;
    padding-left:16px;
    color: black;
    font-size: 32px;
    font-weight: 600;
    z-index: 100; /* Ensure text appears above the image */
}
.pennypal[b-nqghavpk8d]{
    position:absolute;
    top: 8%;
    z-index:50;
    left:30%;
    font-size: 40px;
    font-weight:800;
    color: white; 
    background-color:transparent;
}

.welcome[b-nqghavpk8d] {
    position: absolute;
    top: 28%;
    padding-left: 16px;
    color: #626262;
    font-size: 24px;
    font-weight: 400;
    z-index: 100;
    margin-top:8px;
}

.textfield[b-nqghavpk8d]{
    padding : 0 16px;
    margin-top:24px;
    display:flex;
    flex-direction:column;
    gap:16px;
}

.userlabel[b-nqghavpk8d]{
    display:flex;
    flex-direction:column;
    gap:6px;
}

.userinput[b-nqghavpk8d] {
    border: none;
    padding: 20px;
    background-color: #E4E4E4;
    border-radius: 12px;
}

.button[b-nqghavpk8d] {
    width: 100%;
    padding: 12px;
    color: white;
    background-color: #2BA84A;
    border:none;
    border-radius:8px;
    font-size:24px;
    font-weight:600;
}
.loginBtn[b-nqghavpk8d]{
    padding: 0 16px;
    margin-top:16px;
}

.registerLink[b-nqghavpk8d]{
    display:flex;
    justify-content:center;
    margin-top:32px;
}

.link[b-nqghavpk8d] {
    padding-left: 4px;
    color: #2BA84A;
    text-decoration:none;
}
/* /Components/Pages/MyDebt.razor.rz.scp.css */
*[b-118v551eic] {
    padding: 0;
    margin: 0;
    /*    background-color: red;*/
}

.badge_tag[b-118v551eic] {
    color: black;
}

.heading[b-118v551eic] {
    padding: 16px;
}

.form-group-new[b-118v551eic] {
    font-size: 12px;
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
}

.form-control-top[b-118v551eic] {
    width: 80px;
    padding: 8px;
    border-bottom: 0.25rem;
}

.filters[b-118v551eic] {
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap: 8px;
    padding: 0 16px;
    margin-bottom: 12px;
}

.btn-add[b-118v551eic] {
    border: none;
    /*    height: 32px;*/
    color: white;
    background-color: #1FBF47;
    padding: 8px 28px;
    border-radius: 8px;
}

.modal[b-118v551eic] {
    /*    padding:0 16px;*/
}

.modal-dialog[b-118v551eic] {
    padding: 0 16px;
    margin: 180px auto;
}

.modal-content[b-118v551eic] {
    padding: 24px;
}

.modal-header .close[b-118v551eic] {
    background-color: white;
    border: none;
    font-size: 34px;
}

.form-group[b-118v551eic] {
}

.transaction-list[b-118v551eic] {
    padding: 0 16px;
}

.cards-trans[b-118v551eic] {
    padding: 8px;
    background: linear-gradient(to bottom right, #08765A, #33AF4F);
    margin-bottom: 12px;
    color: white;
    border-radius: 4px;
}

.date_head[b-118v551eic] {
    display: flex;
    justify-content: space-between;
}

.transaction-list .amount[b-118v551eic] {
    font-weight: 600;
}

.description[b-118v551eic] {
    padding-bottom: 8px;
}

/*.tags {
    padding: 12px;
}

    .tags p {
        padding-bottom: 8px;
    }

    .tags span {
        padding: 8px 12px;
        background-color: #1FBF47;
        border-radius: 50%;
        border-radius: 8px;
        color: white;
        word-spacing: 6px;
    }
*/
/* /Components/Pages/MyTransaction.razor.rz.scp.css */
*[b-l1vels9g3n] {
    padding: 0 ;
    margin: 0;
/*    background-color: red;*/
}

.badge_tag[b-l1vels9g3n] {
    color: black;
}

.heading[b-l1vels9g3n] {
    padding-bottom:16px;
    font-size:20px;
}

.form-group-new[b-l1vels9g3n] {
    font-size: 12px;
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
}

.form-control-top[b-l1vels9g3n] {
    width: 80px;
    padding: 8px;
    border-bottom: 0.25rem;
}

.filters[b-l1vels9g3n]{
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    gap:8px;
    padding: 0 16px;
    margin-bottom:12px;

}
.btn-add[b-l1vels9g3n] {
    border: none;
/*    height: 32px;*/
    color: white;
    background-color: #1FBF47;
    padding:8px 28px;
    border-radius: 8px;

}
.modal[b-l1vels9g3n]{
/*    padding:0 16px;*/
}
.modal-dialog[b-l1vels9g3n] {
    padding: 0 16px;
    margin: 180px auto;
}

.modal-content[b-l1vels9g3n]{
    padding: 24px;
}

.modal-header .close[b-l1vels9g3n]{
    background-color:white;
    border: none;
    font-size:34px;
}

.form-group[b-l1vels9g3n]{

}

.transaction-list[b-l1vels9g3n] {
    padding: 0 16px;
}
.cards-trans[b-l1vels9g3n] {
    padding: 8px;
    background: linear-gradient(to bottom right, #08765A, #33AF4F);
    margin-bottom: 12px;
    color:white;
    border-radius:4px;
}

.date_head[b-l1vels9g3n]{
    display:flex;
    justify-content:space-between;
}

.transaction-list .amount[b-l1vels9g3n] {
    font-weight:600;
}

.description[b-l1vels9g3n]{
    padding-bottom:8px;
}

.tags[b-l1vels9g3n]{
    padding:12px;
    
}
.tags p[b-l1vels9g3n]{
    padding-bottom: 8px;
}

    .tags span[b-l1vels9g3n] {
        padding: 8px 12px;
        background-color: #1FBF47;
        border-radius:50%;
        border-radius:8px;
        color:white;
        word-spacing:6px;
        }

.form-group[b-l1vels9g3n]{
    display:flex;
    flex-direction: column;
    gap:8px;
}

.data-input[b-l1vels9g3n]{
    padding:12px;
    margin-bottom: 12px;
}

.btn-addTran[b-l1vels9g3n] {
    padding: 12px;
    background-color: #1FBF47;
    color:white;
    font-weight:600;
    letter-spacing:1.5px;
    border:none;
    border-radius:8px;
}

.amount-details[b-l1vels9g3n] {
    padding: 16px;
    margin: 0 16px 8px 16px;
    border-radius:8px;
    background-color: #90CB9E;
}

.amount-details h1[b-l1vels9g3n]{
    
}

.rowdetails[b-l1vels9g3n] {
    display: flex;
    justify-content: space-between;
    align-items:end;
}

.edit[b-l1vels9g3n] {
    border: none;
    padding: 4px 12px;
    border-radius: 4px;
}
.delete[b-l1vels9g3n] {
    border: none;
    padding: 4px 12px;
    background-color:red;
    color:white;
    border-radius: 4px;
}    

.date-filter[b-l1vels9g3n]{
    display:flex;
    flex-direction:row;
    align-items:center;
    gap:8px;
    justify-content:space-between;
    padding: 0 16px;
    margin-bottom:12px;
}

.btn-date[b-l1vels9g3n] {
    border: none;
    padding: 8px 16px;
    background-color: #1FBF47;
    color: white;
    border-radius:4px;
}
.date-date[b-l1vels9g3n]{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:center;
    padding: 0 16px;
    margin-bottom:12px;
}

.form-control-top[b-l1vels9g3n] {
    width: 60px;
}

.date-bar[b-l1vels9g3n]{
    width:80px;
    border:none;
}

.searchall[b-l1vels9g3n]{
    display:flex;
    flex-direction: column;
    padding: 0 16px;
    gap: 4px;
    padding-bottom:8px;
}

.search[b-l1vels9g3n]{
    padding:8px;
    border-radius:4px;
    border:0.5px solid grey;
}
/* /Components/Pages/Register.razor.rz.scp.css */
*[b-sjdc8f49gv] {
    padding: 0;
    margin: 0;
    background-color: white;
}

.hero[b-sjdc8f49gv] {
}

.main-img[b-sjdc8f49gv] {
    width: 100%;
    position: relative;
    z-index: 1;
}

.login[b-sjdc8f49gv] {
    position: absolute;
    top: 25%;
    padding-left: 16px;
    color: black;
    font-size: 32px;
    font-weight: 600;
    z-index: 100; /* Ensure text appears above the image */
}

.pennypal[b-sjdc8f49gv] {
    position: absolute;
    top: 8%;
    z-index: 50;
    left: 30%;
    font-size: 40px;
    font-weight: 800;
    color: white;
    background-color: transparent;
}

.welcome[b-sjdc8f49gv] {
    position: absolute;
    top: 28%;
    padding-left: 16px;
    color: #626262;
    font-size: 24px;
    font-weight: 400;
    z-index: 100;
    margin-top: 8px;
}

.textfield[b-sjdc8f49gv] {
    padding: 0 16px;
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.userlabel[b-sjdc8f49gv] {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.userinput[b-sjdc8f49gv] {
    border: none;
    padding: 20px;
    background-color: #E4E4E4;
    border-radius: 12px;
}

.button[b-sjdc8f49gv] {
    width: 100%;
    padding: 12px;
    color: white;
    background-color: #2BA84A;
    border: none;
    border-radius: 8px;
    font-size: 24px;
    font-weight: 600;
}

.loginBtn[b-sjdc8f49gv] {
    padding: 0 16px;
    margin-top: 20px;
}

.registerLink[b-sjdc8f49gv] {
    display: flex;
    justify-content: center;
    margin-top: 32px;
}

.link[b-sjdc8f49gv] {
    padding-left: 4px;
    color: #2BA84A;
    text-decoration: none;
}
